{% extends 'registration/base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
{{ block.super }}
{% if validlink %}
<div class="container">
        <div class="row sign-up">
            <div class="col-md-4">
                <div class="section">
                    <h1>Cabify</h1>
                    <div class="form-section">
                        <form action="." method="POST">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="form-group">
                                <input type="submit" id="go" class="btn btn-primary btn-sm" type="submit" value="{% trans 'Submit' %}">
                            </div>
                            <input type="hidden" name="next" value="{{next}}">
                        </form>
                    </div>
                </div>
                <div class="section">
                    <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a></p>
                    <p>Don't have an account? <a href="{% url 'registration_register' %}">Sign-Up</a></p>
                </div>
            </div>
        </div>
    </div>
    {% else %}

    <h3 style="text-align: center;" >{% trans "Password reset failed" %}</h3>
  
    {% endif %}

{% endblock %}
