{% load staticfiles %}
{% load bootstrap4 %}
{% load leaflet_tags %}




<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Cabify: Get anywhere, fast, cheap and safely</title>
    {% endif %} 

    {% block styles %} 
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/homepage.css' %}"> 
        {% leaflet_js %}
        {% leaflet_css %}
        {{form.media}}
    {% endblock %}
    


</head>



<body>
    {% include "driver/navbar.html" %} 
    {% block content %} 
   
    {% endblock %}



    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {% bootstrap_javascript %}

</body>

</html>