 {% extends 'driver/base.html' %} 
 {% load static bootstrap4 %} 

 {% block styles %}
 {{block.super}}
 {% endblock %}
 
 {% block content %}
 {{block.super}}

 <div class="main-page-background">
<h1>Heya {{request.user.username}} </h1>
<h3>Welcome to your driver's profile</h3>

<div class="row">

    <div class="col-xs-5 col-md-5 driver-profile-picture-box">
        <div class="row">
                <div class="col-xs-6 col-md-6"> 
                    <div class="driver-image-box">
                            {% if all_details.profile_picture.url %}
                                    <img class="driver-image-box" src="{{all_details.profile_picture.url}}" alt="">
                            {% else %}
                                    <h3>No profile pic set</h3>
                                    <p>Click here to set one now</p>
                            {% endif %}
                    </div>
                </div>

                <div class="col-xs-6 col-md-6"> 
                    <h3>My details:</h3>

                    {% if all_details.first_name %}
                    <p><strong>First name:</strong> {{all_details.first_name}} </p>
                    {% else %}
                    <p><strong>First name: </strong> You haven't given us your first name. </p>
                    {% endif %}

                    {% if all_details.last_name %}
                    <p><strong>Last name: </strong> {{all_details.last_name}} </p>
                    {% else %}
                    <p><strong>Last name: </strong> You haven't given us your last name. </p>
                    {% endif %}

                    {% if all_details.phone_number %}
                    <p><strong>Mobile number: </strong> {{all_details.phone_number}} </p>
                    {% else %}
                    <p><strong>Mobile number: </strong>You haven't given us your number </p>
                    {% endif %}

                    {% if driver.car.all %}
                    {% for car in  driver.car.all %}
                    <p><strong>Car(s): </strong> {{car.model}}, {{car.make}} </p>
                    {% endfor %}
                    {% else %}
                    <p><strong>Car(s): </strong>No cars to show </p>
                    {% endif %}

                    {% if all_details.national_id%}
                    <p><strong>National ID: </strong> {{all_details.national_id}} </p>
                    {% else %}
                    <p><strong>Car(s): </strong>No cars to show </p>
                    {% endif %}
                    
                </div>



            </div>
    </div>

    <div class="col-xs-5 col-md-5">
        <h1>test</h1>
    </div>
</div>

<div class="map-preview">

    <form method="POST" action="">
    {% csrf_token %} 
    {% bootstrap_form form %}
    </form>

</div>


{% endblock %}
{% block script %}
{{ block.super }}
{% endblock %}