@import url('https://fonts.googleapis.com/css?family=Dosis|Poiret+One|Roboto|Teko');

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Poiret One', cursive; */

.navbar{
    background-color: rgb(193, 193, 193);
    border-style: solid 
  }


.homepage-intro{
    width: 99%;
    background-image: url(/media/background_driver_app.jpg);
    background-size: cover;
    text-align: center;
    color: rgb(38, 38, 32);
    height: 200px;
}

#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
  }

.map{
    height: 200px;
}

.main-page-background{
    background-image: url('/media/connectwork.png');
    opacity: ;
    

}


.main-page-background h1{
    font-size: 60px;
    color: #fff;
    text-align: center;

}

.driver-profile-picture-box{
    color: #000000;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.692);
    border: 1px solid black;
    padding: 10px;
    box-shadow: 2px 10px 8px #000000;
 
}

.driver-profile-picture-box-red-box{
    color: #000000;
    height: 250px;
    background-color: rgba(221, 0, 0, 0.692);
    border: 1px solid black;
    padding: 10px;
    box-shadow: 2px 10px 8px #000000;
 
}

.driver-profile-picture-box-blue-box{
    color: #000000;
    height: 250px;
    background-color: #fcd900;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 2px 10px 8px #000000;
 
}

.driver-profile-picture-box-right{
    color: rgb(255, 255, 255);
    height: 400px;
    background-color: rgba(46, 46, 46, 0.501);
    border: 1px solid;
    padding: 10px;
    box-shadow: 2px 10px 8px #000000;
}

.driver-image-box{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 1%;
    margin: 2%;
    
}

.email_activation_success{
    background-color: #ee2f2f;
    color: #fff;
}




.usertype{
    text-align: center;
    background-image: url(../../media/login/background_driver_app.jpg);
    color: #fff;

}

.activation-complete{
    text-align: center;
    background-color: #7e6f6f;

}

.map-preview{
    background-color: #f5f5f5ab;
    margin: 0 auto;
    width: 60%;
    height: 60%;
    box-shadow: 2px 10px 8px #000000;
    margin-top: 3%;

}

.icons{
    height: 30px;
    width: 30px;
}

.inline{
    display: inline-block;
}

.header-driver-profile{
    background-image: url(../../media/login/background_driver_app.jpg);
    font-family: 'Poiret One', cursive;
    height: 400px;
    text-align: center;
    color: #fff;
}

.header-driver-profile img{
    display: block;
    margin: 0 auto;
}

.checked{
    color: #ee2f2f;

}

