.navbar{
    background-color: rgb(193, 193, 193);
    border-style: solid 
  }


.homepage-intro{
    width: 99%;
    background-image: url(/media/background_driver_app.jpg);
    background-size: cover;
    text-align: center;
    color: rgb(38, 38, 32);
    height: 200px;
}

#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
  }

.map{
    height: 200px;
}

.main-page-background{
    background-image: url('/media/connectwork.png');
    opacity: ;
    

}


.main-page-background h1{
    font-size: 60px;
    color: #fff;
    text-align: center;

}

.driver-profile-picture-box{
    height: 250px;
    background-color: rgba(255, 255, 255, 0.501);
    border: 1px solid;
    padding: 10px;
    box-shadow: 2px 10px 8px #000000;
 
}

.driver-image-box{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 1%;
    margin: 2%;
}

.email_activation_success{
    background-color: #ee2f2f;
    color: #fff;
}




.usertype{
    text-align: center;
    background-image: url(../../media/login/background_driver_app.jpg);
    color: #fff;


}

.activation-complete{
    text-align: center;
    background-color: #ee2f2f;

}

.map-preview{
    margin: 3%;
    width: 60%;
    height: 60%;
}